[Unit]
Description=Razer Battery Tray
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
ExecStart=%h/.local/bin/razer-battery-tray-wait Naga
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
